header{
    width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background:#064388;
	margin-bottom:20px;
}

header nav{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    background: #064388;  
}
.menu_bar{
   width: 90%;
   max-width: 1000px; 
   margin: 20px auto;
   background: #064388;
}
.menu_bar{
    display: none;
}

header nav ul{
    overflow: hidden;
    list-style: none;
}

header nav ul li{
    float: left;
}
header nav ul li a{
    color:#fff;
    padding: 20px;
    display: block;
    text-decoration: none;
}
header nav ul li span{
    margin-right: 10px;
    font-size: 40px;

}
header nav ul li a:hover{
    background: #1657a1;
    font-size: 20px;
    width: 70%;

}

section{
    padding: 20px;
}

.font_blue{
    background-color: #65bae2;
}

select option{
    background-color: #95bbe5 transparent;
    border: #000000;
}
@media screen and (max-width:800px){
    
    header nav{
        width: 30%;
        height: 100%;
        margin: 0;
        position: absolute;
        top: auto;
        z-index: 100;
        left: -100%;
    }

    header nav ul li{
        display:block;
        float: none;
        border-bottom:1px solid rgba(255, 255, 255, .3)
    }
    .menu_bar{
        display: block;
        width: 100%;
        height: 45px;
        background:#ccc;
    }

    .menu_bar .bt-menu{
        display: block;
        padding: 20px;
        background-color: #064388;
        color: #fff;
        text-decoration: none;
        font-weight: bold; 
        font-size: 25px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        moz-box-sizing: border-box;
    }

    .menu_bar span{
        float: right;
        font-size: 40px;
    }
}